#schedule button,
#schedule .Cell-highlightedText,
#schedule .MuiOutlinedInput-notchedOutline,
#schedule .MuiSelect-select,
#schedule svg,
.Content-lens {
  color: #4945ff !important;
  border-color: #4945ff !important;
}

#schedule .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
}

.Cell-today {
  background-color: #4945ff !important;
}

.Mui-selected {
  background-color: #e3e3e3 !important;
}

.MuiToolbar-root {
  padding: 0 !important;
}

.MainLayout-container > div > div:nth-of-type(2) .Table-table {
  min-height: 860px !important;
}

#schedule .HorizontalAppointment-content + div {
  padding: 0 5px !important;
}

#schedule a,
#schedule a > span {
  width: 100%;
  height: 100%;
}
